.logo-bg {
    background-color: #2596be;
    background-image: url("../img/pattern.png");
    background-size: 25%;
    background-repeat: repeat;
}
.logo-img {
    width: 15%;
    margin-top: 2%;
    margin-left: 5px;
}

h1 {
    margin-bottom: 0;
}
.sottotitoli {
    color: rgb(83, 80, 80);
}
.link-autore {
    text-decoration: none;
    color: blue;
}
.fig-marg {
    margin-left: 0;
    padding-left: 10px;
}
.yellow-bg {
    background-color: yellow;
}