.container {
width: 80%;
margin: auto;
}

.logo-bg {
    background-color: #2596be;
    background-image: url("../img/pattern.png");
    background-size: 25%;
    background-repeat: repeat;
    margin-top: 0;
}
.logo-img {
    width: 15%;
    margin-top: 2%;
    margin-left: 10%;
}

h1 {
    margin-bottom: 0;
}
.sottotitoli {
    color: rgb(83, 80, 80);
}
.link-autore {
    text-decoration: none;
    color: blue;
}

.fig {
width: calc(100% / 2);
height: 260px;
}
.fig-marg {
    margin-left: 0;
    size: cover;
}
    
.ul-pad {
    padding-left: 10px;
}
.yellow-bg {
    background-color: yellow;
}
.tab {
    min-width: calc(100% / 3);
}
th.tab {
    text-align: left;
    color: white;
    background-color: blue;
}
.aqua {
    background-color: aqua;
} 
.light-blue {
    background-color: lightblue;
}
.first-foot-p {
    color: rgb(83, 80, 80);
    font-weight: 900;
}
.foot-img1 {
    background-image: url("../img/monitor.jpg");
    margin-top: 5px;
    width: 312px;
    height: 208px;
}
.foot-p {
    font-weight: 800;
    color: white;
}
.foot-img2 {
    margin-top: 5px;
    background-image: url("../img/graph.jpg");
    width: 311px;
    height: 207px;
}